<!DOCTYPE html>
<html>
<head>
    <!--
    http://localhost:8080/menjin_at/menjin_at/webSocket.html
    -->
    <meta charset="utf-8">
    <title>AT门禁</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-datetimepicker.min.css">
    <!--<link rel="stylesheet" href="css/webSocket.css">-->
    <script src="js/jquery.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/popper.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="1.15.5/bootstrap-table.js"></script>
    <script src="js/webSocket.js"></script>
</head>
<body onLoad="startWebSocket()">
<!--

-->

<!--<p>AT门禁闸机实时数据统计</p>-->
<ul class="nav nav-pills">
    <li id="li01" class="active" onclick="loadK(1)"><a href="#">实时</a></li>
    <li id="li02" onclick="loadK(2)"><a href="#">进出记录</a></li>
    <li id="li03" onclick="loadK(3)"><a href="#">室内时长</a></li>
    <!--<li id="li04" onclick="loadK(4)"><a href="#">扩展</a></li>-->
    <!--<li id="li05" onclick="loadK(5)"><a href="#">扩展</a></li>-->
    <!--<li id="li06" onclick="loadK(6)"><a href="#">扩展</a></li>-->
</ul>

<div>
    <div id="div1" >
        <div id="tab1_div"><!-- 左右布局 style  width:49%;float:left;   style="higth:50%;"   -->
            <p onclick="shuaxin0()">实时进出<span style="color:#3f9337;">(刷新)</span></p>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tab1" ></table>
            </div>
        </div>
        <div id="tab2_div" >
            <p onclick="shuaxin()">室内人员<span style="color:#3f9337;">(刷新)</span></p>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="tab2" ></table>
            </div>
            <button id="tab2excel" onclick="exportExcelTab2()" class="btn btn-primary">导出名单</button>
        </div>
    </div>

    <div id="div2" style="display:none;">
        <div id="div2_tab3_bar" class="form-inline row ">

            <label>选择条件进行查询</label>

            <input type="text" class="form-control input-small" readonly style="background:#fff" placeholder="起始时间" id="begin_time"/>
            <input type="text" class="form-control input-small" readonly style="background:#fff" placeholder="截止时间" id="end_time"/>

            <select class="form-control input-medium" name="product_line" id="floorX">
                <option value="">请选择楼层</option>
                <option value="0">一楼</option>
                <option value="1">二楼</option>
                <option value="2">三楼</option>
            </select>

            <select class="form-control input-medium" name="product_line" id="departmentX">
                <option value="">请选择部门</option>
            </select>

            <input id="nameX" type="text" class="form-control input-mini" placeholder="姓名" />
            <input id="jobX" type="text" class="form-control input-mini" placeholder="工号" />
            <button id="tab3query" onclick="queryTab3()" class="btn btn-primary">查询记录</button>
            <button id="tab3excel" onclick="exportExcelTab3()" class="btn btn-primary">导出记录</button>
        </div>

        <table id="tab3" ></table>

    </div>



    <div id="div3" style="display:none;">
        <div id="div3_tab4_bar" class="form-inline row ">

            <label>选择条件进行查询</label>

            <input type="text" class="form-control input-small" readonly style="background:#fff" placeholder="起始时间" id="div3_begin_time"/>
            <input type="text" class="form-control input-small" readonly style="background:#fff" placeholder="截止时间" id="div3_end_time"/>

            <!--<select class="form-control input-medium" name="product_line" id="div3_floorX">
                <option value="">请选择楼层</option>
                <option value="0">一楼</option>
                <option value="1">二楼</option>
                <option value="2">三楼</option>
            </select>-->

            <select class="form-control input-medium" name="product_line" id="div3_departmentX">
                <option value="">请选择部门</option>
            </select>

            <input id="div3_nameX" type="text" class="form-control input-mini" placeholder="姓名" />
            <input id="div3_jobX" type="text" class="form-control input-mini" placeholder="工号" />
            <button id="div3_tab3query" onclick="queryTab4()" class="btn btn-primary">查询时长</button>
            <button id="div3_tab3excel" onclick="exportExcelTab4()" class="btn btn-primary">导出时长</button>
        </div>

        <table id="tab4" ></table>
    </div>

    <!--<div id="div4" style="display:none;">
        <p>第四个页面</p>
        <table id="tab5" ></table>
    </div>

    <div id="div5" style="display:none;">
        <p>第五个页面</p>
        <table id="tab6" ></table>
    </div>

    <div id="div6" style="display:none;">
        <p>第六个页面</p>
        <table id="tab7" ></table>
    </div>-->

</div>

</body>
</html>