<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.possible2dream.menjin_at.mapper.AccessRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.possible2dream.menjin_at.entity.AccessRecord" >
    <id column="SC_SerierNO" property="scSerierno" jdbcType="BIGINT" />
    <result column="SC_DoorNO" property="scDoorno" jdbcType="INTEGER" />
    <result column="SC_UserDefineCardNO" property="scUserdefinecardno" jdbcType="BIGINT" />
    <result column="SC_CardGuidNO" property="scCardguidno" jdbcType="BIGINT" />
    <result column="SC_EmpID" property="scEmpid" jdbcType="BIGINT" />
    <result column="SC_OpenDoorTypeID" property="scOpendoortypeid" jdbcType="SMALLINT" /><!--TINYINT 全部换成 SMALLINT            -->
    <result column="SC_EventTypeID" property="scEventtypeid" jdbcType="SMALLINT" />
    <result column="SC_InOutStatus" property="scInoutstatus" jdbcType="SMALLINT" />
    <result column="SC_RecordTime" property="scRecordtime" jdbcType="TIMESTAMP" />
    <result column="SC_Reserve" property="scReserve" jdbcType="NVARCHAR" />
    <result column="SC_DeviceRecNO" property="scDevicerecno" jdbcType="INTEGER" />
    <result column="SC_AddTime" property="scAddtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.possible2dream.menjin_at.entity.AccessRecord" extends="BaseResultMap" >
    <result column="SC_TimeStamp" property="scTimestamp" jdbcType="BINARY" />
  </resultMap>

  <!--自定义查询 结果集-->
  <resultMap id="MyResultMap" type="cn.possible2dream.menjin_at.entity.OriginalRecord" >
    <id column="SC_SerierNO" property="scSerierno" jdbcType="BIGINT" />
    <result column="SC_DoorNO" property="scDoorno" jdbcType="INTEGER" />
    <result column="SC_CardGuidNO" property="scCardguidno" jdbcType="BIGINT" />
    <result column="SC_EventTypeID" property="scEventtypeid" jdbcType="SMALLINT" />
    <result column="SC_InOutStatus" property="scInoutstatus" jdbcType="SMALLINT" />
    <!--<result column="SC_RecordTime" property="scRecordtime" jdbcType="TIMESTAMP" />-->
    <result column="SC_AddTime" property="scAddtime" jdbcType="TIMESTAMP" />
    <!--SC_Employee 表-->
    <result column="SC_WorkerNO" property="scWorkerno" jdbcType="NVARCHAR" />
    <result column="SC_Name" property="scName" jdbcType="NVARCHAR" />
    <result column="SC_MobileNO" property="scMobileno" jdbcType="NVARCHAR" />
    <result column="SC_IDTypeID" property="scIdtypeid" jdbcType="INTEGER" />
    <result column="SC_DepartmentID" property="scDepartmentid" jdbcType="INTEGER" />
    <!--SC_Department 表-->
    <result column="SC_DepartmentName" property="scDepartmentname" jdbcType="NVARCHAR" />
    <!--SC_ESDCheckResult 表-->
    <result column="SC_CheckResultName" property="scCheckResultName" jdbcType="NVARCHAR" />
    <!--SC_DeviceArea 表-->
    <result column="SC_DeviceAreaName" property="scDeviceAreaName" jdbcType="NVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    SC_SerierNO, SC_DoorNO, SC_UserDefineCardNO, SC_CardGuidNO, SC_EmpID, SC_OpenDoorTypeID, 
    SC_EventTypeID, SC_InOutStatus, SC_RecordTime, SC_Reserve, SC_DeviceRecNO, SC_AddTime
  </sql>
  <sql id="Blob_Column_List" >
    SC_TimeStamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SC_AccessRecord
    where SC_SerierNO = #{scSerierno,jdbcType=BIGINT}
  </select>

  <select id="selectAllByMaxId" resultMap="MyResultMap" parameterType="java.lang.Long" >
    select g.SC_SerierNO,g.SC_DoorNO,g.SC_CardGuidNO,g.SC_EventTypeID
    ,g.SC_InOutStatus,g.SC_AddTime
    ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
    ,c.SC_DepartmentName
    ,d.SC_CheckResultName
    ,e.SC_DeviceAreaID
	,f.SC_DeviceAreaName
    from (

    select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
        ,a.SC_InOutStatus,a.SC_AddTime
    from SC_AccessRecord a
	where a.SC_SerierNO>#{scSerierno,jdbcType=BIGINT}

    ) g,SC_Employee b
        ,SC_Department c
        ,SC_ESDCheckResult d
        ,SC_Device e
        ,SC_DeviceArea f
    where 1=1
        and RIGHT('000'+convert(varchar(20),g.SC_CardGuidNO),10) = b.SC_MobileNO
        and b.SC_DepartmentID=c.SC_DepartmentID
        and g.SC_EventTypeID = d.SC_CheckResultID
        and g.SC_DoorNO=e.SC_SerierNO
        and e.SC_DeviceAreaID=f.SC_DeviceAreaID
	order by g.SC_SerierNO desc
  </select>

  <select id="selectMaxScSerierno" resultType="java.lang.Long"  >
      /*  比较一下效率 select top 1 SC_SerierNO from SC_AccessRecord order by SC_SerierNO desc  */
      select MAX(SC_SerierNO) from SC_AccessRecord
  </select>

  <select id="selectTop25" resultMap="MyResultMap" >
    select g.SC_SerierNO,g.SC_DoorNO,g.SC_CardGuidNO,g.SC_EventTypeID
    ,g.SC_InOutStatus,g.SC_AddTime
    ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
    ,c.SC_DepartmentName
    ,d.SC_CheckResultName
    ,e.SC_DeviceAreaID
	,f.SC_DeviceAreaName
    from (

    select top 10 a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
        ,a.SC_InOutStatus,a.SC_AddTime
    from SC_AccessRecord a
    order by a.SC_SerierNO desc

    ) g,SC_Employee b
        ,SC_Department c
        ,SC_ESDCheckResult d
        ,SC_Device e
        ,SC_DeviceArea f
    where 1=1
        and RIGHT('000'+convert(varchar(20),g.SC_CardGuidNO),10) = b.SC_MobileNO
        and b.SC_DepartmentID=c.SC_DepartmentID
        and g.SC_EventTypeID = d.SC_CheckResultID
        and g.SC_DoorNO=e.SC_SerierNO
        and e.SC_DeviceAreaID=f.SC_DeviceAreaID
        order by g.SC_SerierNO desc
  </select>


  <!-- 两种方式，未筛选SC_InOutStatus=1 -->
  <!--方式一-->
  <select id="selectRealTimeInner1" resultMap="MyResultMap" >
select s.SC_SerierNO,s.SC_DoorNO,s.SC_CardGuidNO,s.SC_EventTypeID
    ,s.SC_InOutStatus,s.SC_AddTime
    ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
    ,c.SC_DepartmentName
	,d.SC_CheckResultName
    ,e.SC_DeviceAreaID
	,f.SC_DeviceAreaName
from SC_AccessRecord s ,SC_Employee b ,SC_Department c ,SC_ESDCheckResult d,SC_Device e,SC_DeviceArea f
where s.SC_AddTime=(
SELECT max(SC_AddTime) 
FROM SC_AccessRecord
where SC_AddTime>dateadd(hour,-8,GETDATE())
and s.SC_CardGuidNO=SC_CardGuidNO
)
and RIGHT('000'+convert(varchar(20),s.SC_CardGuidNO),10) = b.SC_MobileNO
    and b.SC_DepartmentID=c.SC_DepartmentID
    and s.SC_DoorNO=e.SC_SerierNO
	and e.SC_DeviceAreaID=f.SC_DeviceAreaID
	and s.SC_EventTypeID = d.SC_CheckResultID

  </select>

  <!--方式二-->
  <select id="selectRealTimeInner2" resultMap="MyResultMap" >

select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
    ,a.SC_InOutStatus,a.SC_AddTime
    ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
    ,c.SC_DepartmentName
	,d.SC_CheckResultName
    ,e.SC_DeviceAreaID
	,f.SC_DeviceAreaName
from (

SELECT t.SC_SerierNO,t.SC_DoorNO,t.SC_CardGuidNO,t.SC_EventTypeID
,t.SC_InOutStatus,t.SC_AddTime
FROM (
      SELECT SC_CardGuidNO, MAX(SC_AddTime) as SC_AddTime
      FROM SC_AccessRecord
	  where SC_AddTime>dateadd(hour,-8,GETDATE())
      GROUP BY SC_CardGuidNO
) r
INNER JOIN SC_AccessRecord t
ON t.SC_CardGuidNO = r.SC_CardGuidNO AND t.SC_AddTime = r.SC_AddTime

) a,SC_Employee b ,SC_Department c ,SC_ESDCheckResult d,SC_Device e,SC_DeviceArea f
where RIGHT('000'+convert(varchar(20),a.SC_CardGuidNO),10) = b.SC_MobileNO
    and b.SC_DepartmentID=c.SC_DepartmentID
    and a.SC_DoorNO=e.SC_SerierNO
	and e.SC_DeviceAreaID=f.SC_DeviceAreaID
	and a.SC_EventTypeID = d.SC_CheckResultID
  </select>

    <select id="selectGetInOutRecordByConditionsConditionsWithoutPages" resultMap="MyResultMap" parameterType="cn.possible2dream.menjin_at.entity.Conditions">


        select g.SC_SerierNO,g.SC_DoorNO,g.SC_CardGuidNO,g.SC_EventTypeID
        ,g.SC_InOutStatus,g.SC_AddTime
        ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
        ,c.SC_DepartmentName
        ,d.SC_CheckResultName
        ,e.SC_DeviceAreaID
        ,f.SC_DeviceAreaName
        ,ROW_NUMBER() over(order by g.SC_SerierNO desc) row
        from (

        select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
        ,a.SC_InOutStatus,a.SC_AddTime
        from SC_AccessRecord a
        where 1=1
        <if test="time1!=null and time2!=null">
            and a.SC_AddTime between #{time1,jdbcType=TIMESTAMP} and #{time2,jdbcType=TIMESTAMP}
        </if >
        <if test="floorx != null and floorx != '' and floorx ==0 ">
            and a.SC_DoorNO in (1,5,6,13,15,7,16)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==1 ">
            and a.SC_DoorNO in (2,3,8,12,14,9)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==2 ">
            and a.SC_DoorNO in (4,10,11)
        </if >

        ) g,SC_Employee b
        ,SC_Department c
        ,SC_ESDCheckResult d
        ,SC_Device e
        ,SC_DeviceArea f
        where 1=1
        and RIGHT('000'+convert(varchar(20),g.SC_CardGuidNO),10) = b.SC_MobileNO
        <if test="jobX!=null and jobX!=''">
            and b.SC_WorkerNO = #{jobX,jdbcType=NVARCHAR}
        </if >
        <if test="nameX!=null and nameX!=''">
            and b.SC_Name = #{nameX,jdbcType=NVARCHAR}
        </if >
        <if test="departmentx!=null">
            and b.SC_DepartmentID = #{departmentx,jdbcType=INTEGER}
        </if >
        and b.SC_DepartmentID=c.SC_DepartmentID
        and g.SC_EventTypeID = d.SC_CheckResultID
        and g.SC_DoorNO=e.SC_SerierNO
        and e.SC_DeviceAreaID=f.SC_DeviceAreaID


    </select>

  <select id="selectGetInOutRecordByConditions" resultMap="MyResultMap" parameterType="cn.possible2dream.menjin_at.entity.Conditions">

      select * from(

      select g.SC_SerierNO,g.SC_DoorNO,g.SC_CardGuidNO,g.SC_EventTypeID
      ,g.SC_InOutStatus,g.SC_AddTime
      ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
      ,c.SC_DepartmentName
      ,d.SC_CheckResultName
      ,e.SC_DeviceAreaID
      ,f.SC_DeviceAreaName
      ,ROW_NUMBER() over(order by g.SC_SerierNO desc) row
      from (

      select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
      ,a.SC_InOutStatus,a.SC_AddTime
      from SC_AccessRecord a
      where 1=1
      <if test="time1!=null and time2!=null">
          and a.SC_AddTime between #{time1,jdbcType=TIMESTAMP} and #{time2,jdbcType=TIMESTAMP}
      </if >
      <if test="floorx != null and floorx != '' and floorx ==0 ">
          and a.SC_DoorNO in (1,5,6,13,15,7,16)
      </if >
      <if test="floorx != null and floorx != '' and floorx ==1 ">
          and a.SC_DoorNO in (2,3,8,12,14,9)
      </if >
      <if test="floorx != null and floorx != '' and floorx ==2 ">
          and a.SC_DoorNO in (4,10,11)
      </if >

      ) g,SC_Employee b
      ,SC_Department c
      ,SC_ESDCheckResult d
      ,SC_Device e
      ,SC_DeviceArea f
      where 1=1
      and RIGHT('000'+convert(varchar(20),g.SC_CardGuidNO),10) = b.SC_MobileNO
      <if test="jobX!=null and jobX!=''">
          and b.SC_WorkerNO = #{jobX,jdbcType=NVARCHAR}
      </if >
      <if test="nameX!=null and nameX!=''">
          and b.SC_Name = #{nameX,jdbcType=NVARCHAR}
      </if >
      <if test="departmentx!=null">
          and b.SC_DepartmentID = #{departmentx,jdbcType=INTEGER}
      </if >
      and b.SC_DepartmentID=c.SC_DepartmentID
      and g.SC_EventTypeID = d.SC_CheckResultID
      and g.SC_DoorNO=e.SC_SerierNO
      and e.SC_DeviceAreaID=f.SC_DeviceAreaID

      ) t
      where t.row>=#{minRow,jdbcType=INTEGER} and #{maxRow,jdbcType=INTEGER}>=t.row

  </select>

    <select id="selectGetInOutRecordByConditionsTotal" resultType="java.lang.Integer" parameterType="cn.possible2dream.menjin_at.entity.Conditions">
        select count(*) total
        from (

        select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
        ,a.SC_InOutStatus,a.SC_AddTime
        from SC_AccessRecord a
        where 1=1
        <if test="time1!=null and time2!=null">
            and a.SC_AddTime between #{time1,jdbcType=TIMESTAMP} and #{time2,jdbcType=TIMESTAMP}
        </if >
        <if test="floorx != null and floorx != '' and floorx ==0 ">
            and a.SC_DoorNO in (1,5,6,13,15,7,16)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==1 ">
            and a.SC_DoorNO in (2,3,8,12,14,9)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==2 ">
            and a.SC_DoorNO in (4,10,11)
        </if >

        ) g,SC_Employee b
        ,SC_Department c
        ,SC_ESDCheckResult d
        ,SC_Device e
        ,SC_DeviceArea f
        where 1=1
        and RIGHT('000'+convert(varchar(20),g.SC_CardGuidNO),10) = b.SC_MobileNO
        <if test="jobX!=null and jobX!=''">
            and b.SC_WorkerNO = #{jobX,jdbcType=NVARCHAR}
        </if >
        <if test="nameX!=null and nameX!=''">
            and b.SC_Name = #{nameX,jdbcType=NVARCHAR}
        </if >
        <if test="departmentx!=null">
            and b.SC_DepartmentID = #{departmentx,jdbcType=INTEGER}
        </if >
        and b.SC_DepartmentID=c.SC_DepartmentID
        and g.SC_EventTypeID = d.SC_CheckResultID
        and g.SC_DoorNO=e.SC_SerierNO
        and e.SC_DeviceAreaID=f.SC_DeviceAreaID
    </select>

<!--PongeeESD6806_CN.dbo.-->

    <select id="selectInnerTime" resultMap="MyResultMap" parameterType="cn.possible2dream.menjin_at.entity.Conditions">
        select a.SC_SerierNO,a.SC_DoorNO,a.SC_CardGuidNO,a.SC_EventTypeID
        ,a.SC_InOutStatus,a.SC_AddTime
        ,b.SC_WorkerNO,b.SC_Name,b.SC_MobileNO,b.SC_IDTypeID,b.SC_DepartmentID
        ,c.SC_DepartmentName
        from SC_AccessRecord a,SC_Employee b,SC_Department c
        where 1=1

        <if test="time1!=null and time2!=null">
            and a.SC_AddTime between #{time1,jdbcType=TIMESTAMP} and #{time2,jdbcType=TIMESTAMP}
        </if >
        <if test="floorx != null and floorx != '' and floorx ==0 ">
            and a.SC_DoorNO in (1,5,6,13,15,7,16)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==1 ">
            and a.SC_DoorNO in (2,3,8,12,14,9)
        </if >
        <if test="floorx != null and floorx != '' and floorx ==2 ">
            and a.SC_DoorNO in (4,10,11)
        </if >

        and b.SC_DepartmentID=c.SC_DepartmentID
        and RIGHT('000'+convert(varchar(20),a.SC_CardGuidNO),10) = b.SC_MobileNO

        <if test="jobX!=null and jobX!=''">
            and b.SC_WorkerNO = #{jobX,jdbcType=NVARCHAR}
        </if >
        <if test="nameX!=null and nameX!=''">
            and b.SC_Name = #{nameX,jdbcType=NVARCHAR}
        </if >
        <if test="departmentx!=null">
            and b.SC_DepartmentID = #{departmentx,jdbcType=INTEGER}
        </if >

        order by a.SC_CardGuidNO,a.SC_SerierNO
    </select>













  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SC_AccessRecord
    where SC_SerierNO = #{scSerierno,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.possible2dream.menjin_at.entity.AccessRecord" >
    insert into SC_AccessRecord (SC_SerierNO, SC_DoorNO, SC_UserDefineCardNO, 
      SC_CardGuidNO, SC_EmpID, SC_OpenDoorTypeID, 
      SC_EventTypeID, SC_InOutStatus, SC_RecordTime, 
      SC_Reserve, SC_DeviceRecNO, SC_AddTime, 
      SC_TimeStamp)
    values (#{scSerierno,jdbcType=BIGINT}, #{scDoorno,jdbcType=INTEGER}, #{scUserdefinecardno,jdbcType=BIGINT}, 
      #{scCardguidno,jdbcType=BIGINT}, #{scEmpid,jdbcType=BIGINT}, #{scOpendoortypeid,jdbcType=SMALLINT},
      #{scEventtypeid,jdbcType=SMALLINT}, #{scInoutstatus,jdbcType=SMALLINT}, #{scRecordtime,jdbcType=TIMESTAMP},
      #{scReserve,jdbcType=NVARCHAR}, #{scDevicerecno,jdbcType=INTEGER}, #{scAddtime,jdbcType=TIMESTAMP}, 
      #{scTimestamp,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="cn.possible2dream.menjin_at.entity.AccessRecord" >
    insert into SC_AccessRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scSerierno != null" >
        SC_SerierNO,
      </if>
      <if test="scDoorno != null" >
        SC_DoorNO,
      </if>
      <if test="scUserdefinecardno != null" >
        SC_UserDefineCardNO,
      </if>
      <if test="scCardguidno != null" >
        SC_CardGuidNO,
      </if>
      <if test="scEmpid != null" >
        SC_EmpID,
      </if>
      <if test="scOpendoortypeid != null" >
        SC_OpenDoorTypeID,
      </if>
      <if test="scEventtypeid != null" >
        SC_EventTypeID,
      </if>
      <if test="scInoutstatus != null" >
        SC_InOutStatus,
      </if>
      <if test="scRecordtime != null" >
        SC_RecordTime,
      </if>
      <if test="scReserve != null" >
        SC_Reserve,
      </if>
      <if test="scDevicerecno != null" >
        SC_DeviceRecNO,
      </if>
      <if test="scAddtime != null" >
        SC_AddTime,
      </if>
      <if test="scTimestamp != null" >
        SC_TimeStamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scSerierno != null" >
        #{scSerierno,jdbcType=BIGINT},
      </if>
      <if test="scDoorno != null" >
        #{scDoorno,jdbcType=INTEGER},
      </if>
      <if test="scUserdefinecardno != null" >
        #{scUserdefinecardno,jdbcType=BIGINT},
      </if>
      <if test="scCardguidno != null" >
        #{scCardguidno,jdbcType=BIGINT},
      </if>
      <if test="scEmpid != null" >
        #{scEmpid,jdbcType=BIGINT},
      </if>
      <if test="scOpendoortypeid != null" >
        #{scOpendoortypeid,jdbcType=SMALLINT},
      </if>
      <if test="scEventtypeid != null" >
        #{scEventtypeid,jdbcType=SMALLINT},
      </if>
      <if test="scInoutstatus != null" >
        #{scInoutstatus,jdbcType=SMALLINT},
      </if>
      <if test="scRecordtime != null" >
        #{scRecordtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scReserve != null" >
        #{scReserve,jdbcType=NVARCHAR},
      </if>
      <if test="scDevicerecno != null" >
        #{scDevicerecno,jdbcType=INTEGER},
      </if>
      <if test="scAddtime != null" >
        #{scAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scTimestamp != null" >
        #{scTimestamp,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.possible2dream.menjin_at.entity.AccessRecord" >
    update SC_AccessRecord
    <set >
      <if test="scDoorno != null" >
        SC_DoorNO = #{scDoorno,jdbcType=INTEGER},
      </if>
      <if test="scUserdefinecardno != null" >
        SC_UserDefineCardNO = #{scUserdefinecardno,jdbcType=BIGINT},
      </if>
      <if test="scCardguidno != null" >
        SC_CardGuidNO = #{scCardguidno,jdbcType=BIGINT},
      </if>
      <if test="scEmpid != null" >
        SC_EmpID = #{scEmpid,jdbcType=BIGINT},
      </if>
      <if test="scOpendoortypeid != null" >
        SC_OpenDoorTypeID = #{scOpendoortypeid,jdbcType=SMALLINT},
      </if>
      <if test="scEventtypeid != null" >
        SC_EventTypeID = #{scEventtypeid,jdbcType=SMALLINT},
      </if>
      <if test="scInoutstatus != null" >
        SC_InOutStatus = #{scInoutstatus,jdbcType=SMALLINT},
      </if>
      <if test="scRecordtime != null" >
        SC_RecordTime = #{scRecordtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scReserve != null" >
        SC_Reserve = #{scReserve,jdbcType=NVARCHAR},
      </if>
      <if test="scDevicerecno != null" >
        SC_DeviceRecNO = #{scDevicerecno,jdbcType=INTEGER},
      </if>
      <if test="scAddtime != null" >
        SC_AddTime = #{scAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="scTimestamp != null" >
        SC_TimeStamp = #{scTimestamp,jdbcType=BINARY},
      </if>
    </set>
    where SC_SerierNO = #{scSerierno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.possible2dream.menjin_at.entity.AccessRecord" >
    update SC_AccessRecord
    set SC_DoorNO = #{scDoorno,jdbcType=INTEGER},
      SC_UserDefineCardNO = #{scUserdefinecardno,jdbcType=BIGINT},
      SC_CardGuidNO = #{scCardguidno,jdbcType=BIGINT},
      SC_EmpID = #{scEmpid,jdbcType=BIGINT},
      SC_OpenDoorTypeID = #{scOpendoortypeid,jdbcType=SMALLINT},
      SC_EventTypeID = #{scEventtypeid,jdbcType=SMALLINT},
      SC_InOutStatus = #{scInoutstatus,jdbcType=SMALLINT},
      SC_RecordTime = #{scRecordtime,jdbcType=TIMESTAMP},
      SC_Reserve = #{scReserve,jdbcType=NVARCHAR},
      SC_DeviceRecNO = #{scDevicerecno,jdbcType=INTEGER},
      SC_AddTime = #{scAddtime,jdbcType=TIMESTAMP},
      SC_TimeStamp = #{scTimestamp,jdbcType=BINARY}
    where SC_SerierNO = #{scSerierno,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.possible2dream.menjin_at.entity.AccessRecord" >
    update SC_AccessRecord
    set SC_DoorNO = #{scDoorno,jdbcType=INTEGER},
      SC_UserDefineCardNO = #{scUserdefinecardno,jdbcType=BIGINT},
      SC_CardGuidNO = #{scCardguidno,jdbcType=BIGINT},
      SC_EmpID = #{scEmpid,jdbcType=BIGINT},
      SC_OpenDoorTypeID = #{scOpendoortypeid,jdbcType=SMALLINT},
      SC_EventTypeID = #{scEventtypeid,jdbcType=SMALLINT},
      SC_InOutStatus = #{scInoutstatus,jdbcType=SMALLINT},
      SC_RecordTime = #{scRecordtime,jdbcType=TIMESTAMP},
      SC_Reserve = #{scReserve,jdbcType=NVARCHAR},
      SC_DeviceRecNO = #{scDevicerecno,jdbcType=INTEGER},
      SC_AddTime = #{scAddtime,jdbcType=TIMESTAMP}
    where SC_SerierNO = #{scSerierno,jdbcType=BIGINT}
  </update>
</mapper>