<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.possible2dream.menjin_at.mapper.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="cn.possible2dream.menjin_at.entity.Department" >
    <id column="SC_DepartmentID" property="scDepartmentid" jdbcType="INTEGER" />
    <result column="SC_DepartmentName" property="scDepartmentname" jdbcType="NVARCHAR" />
    <result column="SC_ParentDepartmentID" property="scParentdepartmentid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.possible2dream.menjin_at.entity.Department" extends="BaseResultMap" >
    <result column="SC_TimeStamp" property="scTimestamp" jdbcType="BINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    SC_DepartmentID, SC_DepartmentName, SC_ParentDepartmentID
  </sql>
  <sql id="Blob_Column_List" >
    SC_TimeStamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SC_Department
    where SC_DepartmentID = #{scDepartmentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SC_Department
    where SC_DepartmentID = #{scDepartmentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.possible2dream.menjin_at.entity.Department" >
    insert into SC_Department (SC_DepartmentID, SC_DepartmentName, 
      SC_ParentDepartmentID, SC_TimeStamp)
    values (#{scDepartmentid,jdbcType=INTEGER}, #{scDepartmentname,jdbcType=NVARCHAR}, 
      #{scParentdepartmentid,jdbcType=INTEGER}, #{scTimestamp,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="cn.possible2dream.menjin_at.entity.Department" >
    insert into SC_Department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scDepartmentid != null" >
        SC_DepartmentID,
      </if>
      <if test="scDepartmentname != null" >
        SC_DepartmentName,
      </if>
      <if test="scParentdepartmentid != null" >
        SC_ParentDepartmentID,
      </if>
      <if test="scTimestamp != null" >
        SC_TimeStamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scDepartmentid != null" >
        #{scDepartmentid,jdbcType=INTEGER},
      </if>
      <if test="scDepartmentname != null" >
        #{scDepartmentname,jdbcType=NVARCHAR},
      </if>
      <if test="scParentdepartmentid != null" >
        #{scParentdepartmentid,jdbcType=INTEGER},
      </if>
      <if test="scTimestamp != null" >
        #{scTimestamp,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.possible2dream.menjin_at.entity.Department" >
    update SC_Department
    <set >
      <if test="scDepartmentname != null" >
        SC_DepartmentName = #{scDepartmentname,jdbcType=NVARCHAR},
      </if>
      <if test="scParentdepartmentid != null" >
        SC_ParentDepartmentID = #{scParentdepartmentid,jdbcType=INTEGER},
      </if>
      <if test="scTimestamp != null" >
        SC_TimeStamp = #{scTimestamp,jdbcType=BINARY},
      </if>
    </set>
    where SC_DepartmentID = #{scDepartmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.possible2dream.menjin_at.entity.Department" >
    update SC_Department
    set SC_DepartmentName = #{scDepartmentname,jdbcType=NVARCHAR},
      SC_ParentDepartmentID = #{scParentdepartmentid,jdbcType=INTEGER},
      SC_TimeStamp = #{scTimestamp,jdbcType=BINARY}
    where SC_DepartmentID = #{scDepartmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.possible2dream.menjin_at.entity.Department" >
    update SC_Department
    set SC_DepartmentName = #{scDepartmentname,jdbcType=NVARCHAR},
      SC_ParentDepartmentID = #{scParentdepartmentid,jdbcType=INTEGER}
    where SC_DepartmentID = #{scDepartmentid,jdbcType=INTEGER}
  </update>
</mapper>